.transaction_history {
  border-collapse: collapse;
  border-spacing: 0;
  width: 600px;
  margin: 50px auto;
  box-shadow: 0px 0px 4px 0px rgba(145, 145, 145, 0.38);
}
.transaction_history th,
.transaction_history td {
  padding: 10px;
  text-align: center;
  border-right: 1px solid rgb(205, 203, 203);
}

.transaction_history td:last-child,
.transaction_history th:last-child {
  border-right: 0;
}
.transaction_history th {
  background-color: #31c7c7;
  color: #f1eded;
}
.transaction_history td {
  color: var(--font-color);
}

.transaction_history tr:nth-child(even) {
  background-color: #f1eded;
}
